.svg-wrapper{
 /* height: 500px;
 width: 500px; */
 /* position: relative;
 overflow: hidden; */
}

@keyframes spin {
 10% {
     transform:translate(250px, -500px);
 }
 /* 10% {
  transform:translate(150px, 200px);
 } */

}

.sprinkle1, .sprinkle2, .sprinkle3, .sprinkle4, .sprinkle5, .sprinkle6, .sprinkle7, .sprinkle8, .sprinkle9  {
 animation-name: spin;
 animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes cherry-drop {
 10% {
     transform:translate(250px, -800px);
 }
 /* 10% {
  transform:translate(150px, 200px);
 } */

}

.cherry {
 animation-name: cherry-drop;
 animation-duration: 2s;
 animation-iteration-count: 1;
}

